/*Start Global Rules*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Open Sans, sans-serif";
    background-color: #eee;
}

ul {
    list-style: none;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/*small*/
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/*medium*/
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/*Large*/
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/*End Global Rules*/
.users_list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 20px;
    padding: 10px;
}

.user_box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 15px;
    background: #f4f4f4;
    border-radius: 8px;
    margin: 3rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.user_id {
    margin: 1em 0 0 0;
    color: #666;
}

.user_box:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.popup .overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
    display: none;
}

.popup .content {
    position: absolute;
    top: 50%;
    left:50%;
    background: #fff;
    width: 30rem;
    height:15rem ;
    z-index: 2;
    padding: 2rem;
}
.popup .content p {
    margin: 0.5rem;
}
.popup .content svg {
    cursor: pointer;
    margin: 0.5rem;
}
.popup .close-btn {
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 30px;
    height: 30px;
    font-size: 25px;
    font-weight: 600;
    line-height: 30px ;
    text-align: center;
}

.popup.active .overlay {
    display: block;
}

.popup.active .content {
    transition: all 100ms ease-in-out;
    transform:translate(-50%,-50%) scale(1);
}